/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .app-container {
    display: flex;
    flex-direction: row;
  }
  
  /* Sidebar Styles */
  .sidebar {
    width: 250px;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: -250px; /* Sidebar tersembunyi secara default */
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    z-index: 1000;
  }
  
  .sidebar.open {
    left: 0; /* Sidebar muncul saat dibuka */
  }
  
  .sidebar-header {
    padding: 20px;
    text-align: center;
  }
  
  .sidebar-logo {
    width: 150px;
    height: auto;
  }
  
  .sidebar-menu {
    padding: 0 20px;
  }
  
  .sidebar-button {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: #f8f9fa;
    text-align: left;
    width: 100%;
    border: none;
    transition: background-color 0.3s ease-in-out;
    color: #343a40;
    font-size: 16px;
    cursor: pointer;
  }
  
  .sidebar-button:hover {
    background-color: #e8f4ff;
    color: #007bff;
  }
  
  .sidebar-button.active {
    background-color: #e8f4ff;
    font-weight: bold;
    color: #007bff;
  }
  
  .sidebar-icon {
    margin-right: 10px;
    font-size: 18px;
  }
  
  /* Main Content */
  .main-content {
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
  }
  
  .menu-toggle {
    display: none; /* Sembunyikan di layar besar */
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1100;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
  }

  path{
    min-width: 20px;
    min-height: 20px;
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .sidebar {
      left: -250px;
    }
  
    .sidebar.open {
      left: 0;
    }
  
    .main-content {
      margin-left: 0;
    }
  
    .menu-toggle {
      display: block; /* Tampilkan di layar kecil */
    }
  }
  