.card-artikel {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 325px;
  height: 370px;
  padding: 15px 11px;
  font-family: 'Arial', sans-serif;
  margin-bottom: 20px;
  transition: all 0.3s ease; /* Menambahkan transisi untuk animasi */
  word-wrap: break-word;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.text-muted {
  margin-left: 9px;
}

.fw-costum,
.artikel-mini-username {
  font-weight: 600 !important;
  color: rgba(0, 0, 0, 0.8);
  max-width: 100%;
  display: -webkit-box; /* Untuk mendukung browser berbasis WebKit */
  -webkit-line-clamp: 3; /* Maksimal 3 baris */
  -webkit-box-orient: vertical; /* Orientasi vertikal */
  overflow: hidden; /* Sembunyikan teks yang melebihi batas */
  text-overflow: ellipsis; /* Tambahkan tiga titik (...) di akhir */
  line-height: 1.5; /* Mengatur jarak antar baris */
  max-height: 4.5em; /* Batas tinggi untuk 3 baris dengan line-height 1.5em */
}

.fw-costum1 {
  font-weight: 500 !important;
  color: rgba(0, 0, 0, 0.692);
  font-size: 14px !important;
  max-width: 100%;
  white-space: normal;
  display: -webkit-box; /* Untuk mendukung browser berbasis WebKit */
  -webkit-line-clamp: 2; /* Maksimal 3 baris */
  -webkit-box-orient: vertical; /* Orientasi vertikal */
  overflow: hidden; /* Sembunyikan teks yang melebihi batas */
  text-overflow: ellipsis; /* Tambahkan tiga titik (...) di akhir */
}

.artikel-mini-profil {
  margin-top: 3px !important;
}

.artikel-mini-username {
  margin-top: 20px !important;
}
.costum-font-size2 {
  font-size: 24px !important;
}
.costum-font-size {
  font-size: larger !important;
}
.costum-font-size1 {
  color: rgba(0, 0, 0, 0.692);
  font-size: 16px !important;
  word-spacing: 5px; /* Sesuaikan nilai sesuai kebutuhan */
  margin-top: 15px;
}

.spinner-border {
  color: #0a192f !important;
}

.btn-brand1 {
  background-color: #0a192f;
  color: white;
  border-radius: 20px;
  padding: 5px 25px;
  margin-left: 15px;
}
.btn-brand1:hover {
  background-color: #153564;
}
@media (min-width: 1200px){
.row.align-items-center{
  margin-top: -10px !important;
}

.col .bg-light.d-flex.align-items-center.justify-content-center, .col .artikel-terbaru{
  width: 530px !important;
  height: 350px !important;
}
}

@media (max-width: 1100px) and (max-height: 950px) {
  .card-artikel img,
  .bg-light {
    width: 265px !important;
  }

  .card-artikel .artikel-profil {
    width: 35px !important;
    height: auto !important;
    margin-top: 15px;
  }
  .card-artikel {
    padding: 15px 12px;
    margin-bottom: 0px;
    width: 290px !important;
    height: 380px;
  }
  .text-muted,
  .artikel-username {
    margin-left: 15px;
  }
  .costum-font-size,
  .costum-font-size2 {
    font-size: larger !important;
  }
  .costum-font-size1 {
    font-size: 15px !important;
    word-spacing: 5px; /* Sesuaikan nilai sesuai kebutuhan */
    margin-top: 15px;
  }
  .artikel-tagline {
    height: 80px;
  }
  .artikel-mini-username, .artikel-mini-hari{
    margin-top: 15px !important;
    margin-left: 10px;
  }
  .col .artikel-terbaru, .col .bg-light{
    width: 500px !important;
    height: 400px !important;
  }
}

@media (max-width: 950px) and (max-height: 1100px) {
  section img {
    width: 660px !important;
    height: auto !important;
  }
  .col-1 .artikel-profil {
    width: 38px !important;
    margin-top: 18px;
  }
  .card-artikel {
    padding: 15px 10px;
    margin-bottom: 0px;
    width: 320px !important;
    height: 360px;
  }
  .card-artikel img,
  .bg-light {
    width: 300px !important;
  }
  .card-artikel .artikel-mini-profil {
    width: 30px !important;
    height: auto !important;
  }
  .text-muted {
    margin-left: 15px;
  }
  .artikel-username {
    margin-left: 15px;
  }
  .col-md-4 {
    flex: 0 0 50% !important; /* Setel lebar kolom menjadi 50% */
    max-width: 50% !important; /* Pastikan ukuran maksimal juga 50% */
  }
  .btn-brand {
    padding: 10px !important;
  }
  .costum-font-size,
  .costum-font-size2 {
    font-size: larger !important;
  }
  .costum-font-size1 {
    font-size: 15px !important;
    word-spacing: 5px; /* Sesuaikan nilai sesuai kebutuhan */
    margin-top: 15px;
  }
  .artikel-tagline {
    height: 100px;
  }
  .artikel-mini-username, .artikel-mini-hari{
    margin-top: 20px !important;
    margin-left: 15px;
  }
  .bg-light.d-flex.align-items-center.justify-content-center, .mini-img-artikel{
    width: 100%;
    height: 175px !important;
  }
  .col .artikel-terbaru, .col .bg-light{
    width: 660px !important;
    height: 400px !important;
  }
}

@media (max-width: 550px) and (max-height: 850px) {
  section img {
    width: 315px !important;
    height: auto !important;
  }
  .text-muted {
    margin-left: 15px;
  }
  .artikel-username {
    margin-left: 15px;
  }
  .col-md-4 {
    flex: 0 0 75% !important; /* Setel lebar kolom menjadi 75% */
    max-width: 75% !important; /* Pastikan ukuran maksimal juga 75% */
  }
  .costum-font-size,
  .costum-font-size2 {
    font-size: medium !important;
  }
  .costum-font-size1 {
    font-size: 15px !important;
    word-spacing: 5px; /* Sesuaikan nilai sesuai kebutuhan */
    margin-top: 15px;
  }
  .artikel-tagline {
    height: 90px;
  }
  .card-artikel {
    height: 350px !important;
  }
  .col .artikel-mini-username{
    margin-top: 13px !important;
    margin-left: 15px;
  }
  .artikel-profil{
    margin-top: 10px;
  }
  .artikel-mini-hari{
    margin-left: 15px;
  }
  .bg-light.d-flex.align-items-center.justify-content-center, .mini-img-artikel{
    width: 100%;
    height: 175px !important;
  }
  .col .artikel-terbaru, .col .bg-light{
    width: 315px !important;
    height: 200px !important;
  }
}
