.card-artikel {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 325px;
    height: 415px;
    padding: 15px 11px;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
    transition: all 0.3s ease; /* Menambahkan transisi untuk animasi */
  }

  .text-muted{
    margin-left: 9px;
  }
  
  .fw-costum, .artikel-mini-username {
    font-weight: 600 !important;
    color: rgba(0, 0, 0, 0.800);
  }

  .fw-costum1{
    font-weight: 500 !important;
    color: rgba(0, 0, 0, 0.692);
    font-size: 14px !important;
  }
  
  .artikel-mini-profil {
    margin-top: 7px !important;
  }
  
  .artikel-mini-username {
    margin-top: 10px !important;    
  }
  .costum-font-size2{
    font-size: 24px !important;
  }
  .costum-font-size{
    font-size: larger !important;
}
.costum-font-size1{
    color: rgba(0, 0, 0, 0.692);
    font-size: 16px !important;
    word-spacing: 5px; /* Sesuaikan nilai sesuai kebutuhan */
    margin-top: 15px;
}

.btn-brand1{
    background-color: #0a192f;
    color: white;
    border-radius: 20px;
    padding: 5px 25px;
    margin-left: 15px;
  }
  .btn-brand1:hover{
    background-color: #153564;
  }

@media (max-width: 1100px) and (max-height: 950px) {
    .card-artikel img, .bg-light{
        width: 265px !important;
    }

    .card-artikel .artikel-mini-profil{
        width: 30px !important;
        height: auto !important;
    }
    .card-artikel{
        padding: 15px 12px;
        margin-bottom: 0px;
        width: 290px !important;
        height: 420px;
    }
    .text-muted, .artikel-username{
        margin-left: 25px;
      }
    .costum-font-size, .costum-font-size2{
        font-size: larger !important;
    }
    .costum-font-size1{
        font-size: 15px !important;
        word-spacing: 5px; /* Sesuaikan nilai sesuai kebutuhan */
        margin-top: 15px;
    }
    .artikel-tagline{
        height: 80px;
    }
}

@media (max-width: 950px) and (max-height: 1100px) {
    section img{
        width: 660px !important;
        height: auto !important;
    }
    .artikel-profil{
        width: 38px !important;
    }
    .card-artikel{
        padding: 15px 10px;
        margin-bottom: 0px;
        width: 320px !important;
        height: 415px;
    }
    .card-artikel img, .bg-light{
        width: 300px !important;
    }
    .card-artikel .artikel-mini-profil{
        width: 30px !important;
        height: auto !important;
    }
    .text-muted{
        margin-left: 0px;
    }
    .artikel-username{
        margin-left: 2px;
    }
    .col-md-4 {
        flex: 0 0 50% !important; /* Setel lebar kolom menjadi 50% */
        max-width: 50% !important; /* Pastikan ukuran maksimal juga 50% */
    }
    .btn-brand{
        padding: 10px !important;
    }
    .costum-font-size, .costum-font-size2{
        font-size: larger !important;
    }
    .costum-font-size1{
        font-size: 15px !important;
        word-spacing: 5px; /* Sesuaikan nilai sesuai kebutuhan */
        margin-top: 15px;
    }
    .artikel-tagline{
        height: 100px;
    }
}

@media (max-width: 550px) and (max-height: 850px){
    section img{
        width: 315px !important;
        height: auto !important;
    }
    .text-muted{
        margin-left: 25px;
    }
    .artikel-username{
        margin-left: 26px;
    }
    .col-md-4 {
        flex: 0 0 75% !important; /* Setel lebar kolom menjadi 75% */
        max-width: 75% !important; /* Pastikan ukuran maksimal juga 75% */
    }
    .costum-font-size, .costum-font-size2{
        font-size: medium !important;
    }
    .costum-font-size1{
        font-size: 15px !important;
        word-spacing: 5px; /* Sesuaikan nilai sesuai kebutuhan */
        margin-top: 15px;
    }
    .artikel-tagline{
        height: 90px;
    }
    .card-artikel{
        height: 410px !important;
    }
}