.bg-kanan {
  background-color: #0a192f;
}

.font-welcome {
  color: #52bfd7;
}

.text-muted1 {
  display: none;
}

.card-responsive1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 650px) {
  .bg-kanan {
    display: none !important;
  }

  .bg-kiri1 {
    background-color: #0a192f;
    width: 100% !important;
  }

  .text-muted1 {
    font-size: 14px;
    display: block;
  }

  .card-responsive1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 420px; /* Sesuaikan tinggi sesuai kebutuhan */
    margin: 10px auto;
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
}

@media (max-width: 850px) and (max-height: 650px) {
  .vh-100 {
    height: 150vh !important;
  }
}
