*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav ul li{
  margin-right: 15px;
}

.btn-brand{
  background-color: #1800B0;
  border-radius: 20px;
  padding: 5px 25px;
}

.btn-sec3{
  background-color: #1800B0;
  padding: 5px 25px;
}

.btn-brand:hover, .btn-sec3:hover{
  background-color: #4b39bb;
}

section h1{
  font-size: 60px;
}

section h1 span{
  color: #174AB5;
}

section button #btn{
  text-align: center;
  background-color: #52BFD7;
  padding: 5px 2px;
  border-radius: 100%;
}

#sec2 .container #li{
  padding: 5px;
  background-color: #52BFD7;
  border-radius: 100%;
}

#sec2 .container ul li{
  list-style: none;
  margin-bottom: 10px;
  left: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap; /* Membuat card turun ke baris berikutnya jika tidak muat */
  gap: 20px; /* Jarak antar card */
  justify-content: space-between; /* Distribusi antar card */
}
.card {
  width: 18rem;
  flex: 1 1 calc(33.333% - 20px); /* Membagi ruang hingga maksimum 3 card */
  box-sizing: border-box; /* Pastikan padding tidak memengaruhi ukuran total */
}

